
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: rgb(54, 204, 214);
    height: 80px;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display:flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-link{
   /* font-size: 50px; se prioriza el sobrepuesto*/ 
    color:white;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link:hover{
    color: goldenrod
}
.button-box {
    background-color: #fff;
    color: #56070c;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1px 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .button-box:hover {
    background-color: rgb(134, 17, 17);
    color: black;
  }